// Couleurs
$black: #101010;
$white: #FFFF;
$grey: #353535;
$grey-light: #F6F6F6;
$grey-lc: #EAEAEA;
$box-shadows: #7e7e7e;
$violet: #9356DC;
$rose: #FF79DA;
$vert-f: #008766;
$vert-c: #99E2D0;

$linear-gradient: linear-gradient(356deg, $violet , $rose);
$box-shadows-f:rgba(0,0,0,0.14);
$shadows-l: inset 0px 24px 5px -20px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

$small: 867px;
$medium: 1024px;
$large :1440px;

