* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body, main {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  box-sizing: border-box;
}

article, button, footer {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, ol, ul, li, a, img {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 3px;
}

header h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: inset 0px 24px 5px -20px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  gap: 17px;
  padding: 17px 0;
}

.explorer {
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 25px;
}

.explorer .titre2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 36px 58px 12px 42px;
}

.explorer p {
  text-align: center;
  font-size: 18px;
  color: #353535;
  margin: 0 30px 27px 34px;
}

.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-size: 1rem;
  color: white;
}

.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

section {
  background-color: #F6F6F6;
  padding-bottom: 66px;
}
section h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 36px 58px 12px 42px;
}
section p {
  text-align: center;
  font-size: 18px;
  color: #353535;
  margin: 0 30px 27px 34px;
}

nav h2 {
  margin-left: 20px;
  padding: 44px 0 24px 0;
}
nav ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: nbr;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  margin-top: 42px;
}
.restaurant h2 {
  text-align: start;
  font-size: 24px;
  margin-left: 20px;
  padding: 48px 0 24px 0;
}

@media only screen and (min-width: 900px) {
  .fonctionnement, .restaurant {
    width: 75%;
    margin: 0 auto;
  }
  nav ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant {
    margin-top: 20px;
    padding: 0 12.5%;
  }
  .restaurant h2 {
    padding: 28px 0 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  section {
    padding-bottom: 30px;
  }
  section h2 {
    font-size: 40px;
    padding: 30px 0;
  }
  nav ol {
    padding: 0 20px 20px 0;
    text-align: center;
  }
  .restaurant {
    margin-top: 0;
    padding: 0 180px;
  }
}
nav ol li {
  display: flex;
  font-size: 15px;
}
nav ol li::before {
  display: inline-block;
  width: 16px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 4px 4px 4px 10px;
  font-size: 16px;
  content: counter(nbr);
  position: absolute;
  top: 50%;
  left: 0;
  text-align: left;
  transform: translate(-15px, -50%);
}

nav li {
  display: inline-block;
  align-items: center;
  width: 240px;
  padding: 26px 40px 26px 39px;
  background: 16px;
  box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  margin: 0px 20px 28px 32px;
  counter-increment: nbr;
  position: relative;
  font-weight: 500;
  color: #101010;
  cursor: pointer;
  gap: 20px;
}

nav li:hover {
  transform: translateY(-50%);
  transform: scale(1.02);
}

nav li:hover {
  color: #9356dc;
}

.fa-mobile-screen-button, .fa-list {
  color: #7E7E7E;
}

.fa-store {
  color: #7E7E7E;
}

/*# sourceMappingURL=style.css.map */
